{% extends './base.html' %}

{% block content %}

<h4>Post Info</h4>
<div class="card" style="width: 18rem;">
  <img src="{{book.cover_url}}" class="card-img-top" alt="{{ book['title'] }}">

  <div class="card-body">
    <h5 class="card-title">{{ book['title'] }}</h5>
    <p class="card-text">{{ book['description'] }}</p>
    <div><a href="{{book.edit_url}}" class="btn btn-info">Edit</a>
    <a href="{{book.delete_url}}" class="btn btn-danger">Delete</a></div>
    <div><a href="{{ url_for('books.index') }}" class="btn btn-primary">Back to All Books</a></div>
  </div>
</div>

{% endblock %}
